.radio {
    max-width: 40px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    margin: 0 0 10px 60px;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

.span {
    display: inline-block;
    margin-left: 20px;

}
