.App {
    --header_height: 60px;
    margin: 0 auto;
    max-width: 1200px;
}

.hw {

}


.hwTitle {
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin: 131px 0 0 70px;
}