.friendMessage {
margin: 50px 0 30px 50px;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    font-weight: 400;
    font-size: 16px;
}

.friendText:after {

}

.friendName {
font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.friendMessageText {

}

.friendTime {
    font-size: 10px;
    font-weight: 600;
    line-height: 12px
}
